.all{
  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height:95 vh;
 
  
  
}
.card{
 
  margin: 20px;
  height: 300px;
  border: 2px solid #000;
box-shadow: 0px 0px 30px 0px #00000066;
}
.card-img-top{
  height: 50%;
}

.left{
  background-color: #ff0008;
}

.right{
  background-color: #0011ff;
}
.App{
  display: flex;
}
.rightside{
  background-color: #161616;
  background-image: url(../IMG/HomeBackground.jpg);
  width: 100%;
    height: 100vh;
  padding: 20px;
  display: block;
}